spring:
  application:
    name: drei-alben-proxy
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/drei_alben}
    username: ${SPRING_DATASOURCE_USERNAME:postgres}
    password: ${SPRING_DATASOURCE_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  flyway:
    enabled: false
server:
  servlet:
    context-path: /api

app:
  external:
    ddfdbBaseUrl: https://www.ddfdb.de
    dieDreiMetadatenUrl: https://dreimetadaten.de/data/
    secret: ${DDFDB_API_KEY:secret}
  admin:
    token: ${ADMIN_TOKEN:change-me-in-production}